*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

 .card {
    height: 500px;
    margin: 50px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    position: relative;
} 

img {
    height: 500px;
    width: 350px;
}

.description {
    box-sizing: border-box;
    height: 70px;
    width: 350px;
    padding: 6px; 
    position: absolute;
    background: rgb(27,27,27,0.6);
    bottom: 0;
    color: white;
}

p {
    visibility: hidden;
    opacity: 0;
}

button {
    visibility: hidden;

}

.card:hover {
    cursor: pointer;
}

.card:hover .description{
    height: 220px;
    /* bottom: 240px; */
    background: black;
    transition: .3s ease;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
    transition: .3s ease;

}

.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}
